.hidden {
    display: none;
  }
  
  #buttons {
    display: inline-block;
    margin: 10px;
  }
  
  .search-box {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .english-search-box {
    border: 1px solid blue;
    width: 60%;
    padding: 10px;
  }
  
  #en-search-term, #en-search {
    margin: 10px;
  }
  
  #results {
    text-align: center;
  }